{% block base_doctype %}
	<!DOCTYPE html>
{% endblock %}

{% block base_html %}
	<html lang="{{ app.request.locale }}" itemscope="itemscope" itemtype="https://schema.org/WebPage">
{% endblock %}

	{% set pageTitle = "inventoryUpdate.general.pageTitle"|trans|sw_sanitize %}

	{% block base_head %}
		{% sw_include '@Storefront/storefront/page/inventory-update/component/meta.html.twig' %}
	{% endblock %}


	{% block base_body %}
		<body class="{% block base_body_classes %}is-ctl-{{ controllerName|lower }} is-act-{{ controllerAction|lower }}{% endblock %}">
			{% block base_body_inner %}

				{% block base_main %}
					<main class="content-main">
						{% block base_main_inner %}
							<div class="container-main">
								{% block page_content %}

									{% block cms_breadcrumb %}{% endblock %}

									<div class="title center">
                                        <h1 itemprop="name">
                                            {{ "inventoryUpdate.general.pageTitle"|trans|sw_sanitize }}
                                        </h1>
                                    </div>

									{% block cms_content %}
										<div class="cms-page">
											{% block page_content_blocks %}
												{% sw_include "@Storefront/storefront/page/inventory-update/inventory-form.html.twig" %}
											{% endblock %}
										</div>
									{% endblock %}

								{% endblock %}
							</div>

						{% endblock %}
					</main>
				{% endblock %}
			{% endblock %}


			{% block base_body_script %}
        {% if not feature('FEATURE_NEXT_15917') %}

            {# @deprecated tag:v6.5.0 - Will be moved to `layout/meta.html.twig` - Use block `layout_head_javascript_token` instead #}
            {% block base_script_token %}
            {% endblock %}

            {# @deprecated tag:v6.5.0 - Will be moved to `layout/meta.html.twig` - Use block `layout_head_javascript_router` instead #}
            {% block base_script_router %}
                {# Register all routes that will be needed in JavaScript to the window.router object #}
                <script>
                    window.activeNavigationId = '{{ page.header.navigation.active.id }}';
                    window.router = {
                        'frontend.cart.offcanvas': '{{ path('frontend.cart.offcanvas') }}',
                        'frontend.cookie.offcanvas': '{{ path('frontend.cookie.offcanvas') }}',
                        'frontend.checkout.finish.page': '{{ path('frontend.checkout.finish.page') }}',
                        'frontend.checkout.info': '{{ path('frontend.checkout.info') }}',
                        'frontend.menu.offcanvas': '{{ path('frontend.menu.offcanvas') }}',
                        'frontend.cms.page': '{{ path('frontend.cms.page') }}',
                        'frontend.cms.navigation.page': '{{ path('frontend.cms.navigation.page') }}',
                        'frontend.account.addressbook': '{{ path('frontend.account.addressbook') }}',
                        'frontend.csrf.generateToken': '{{ path('frontend.csrf.generateToken') }}',
                        'frontend.country.country-data': '{{ path('frontend.country.country.data') }}',
                        'frontend.store-api.proxy': '{{ path('frontend.store-api.proxy') }}',
                    };
                    window.storeApiProxyToken = '{{ sw_csrf("frontend.store-api.proxy", {"mode": "token"}) }}';
                    window.salesChannelId = '{{ app.request.attributes.get('sw-sales-channel-id') }}';
                </script>
            {% endblock %}

            {# @deprecated tag:v6.5.0 - Will be moved to `layout/meta.html.twig` - Use block `layout_head_javascript_breakpoints` instead #}
            {% block base_script_breakpoints %}
                {# Register the available viewport breakpoints the window.breakpoints object #}
                <script>
                    {% set breakpoint = {
                        'xs': theme_config('breakpoint.xs'),
                        'sm': theme_config('breakpoint.sm'),
                        'md': theme_config('breakpoint.md'),
                        'lg': theme_config('breakpoint.lg'),
                        'xl': theme_config('breakpoint.xl')
                    } %}

                    window.breakpoints = {{ breakpoint|json_encode()|raw }};
                </script>
            {% endblock %}

            {# @deprecated tag:v6.5.0 - Will be moved to `layout/meta.html.twig` - Use block `layout_head_javascript_csrf` instead #}
            {% block base_script_csrf %}
                <script>
                    window.csrf = {
                        'enabled': '{{ shopware.csrfEnabled }}',
                        'mode': '{{ shopware.csrfMode }}'
                    }
                </script>
            {% endblock %}

            {% if config('core.cart.wishlistEnabled') %}
                {# @deprecated tag:v6.5.0 - Will be moved to `layout/meta.html.twig` - Use block `layout_head_javascript_wishlist_state` instead #}
                {% block base_script_wishlist_state %}
                    <script>
                        window.customerLoggedInState = {{ context.customer is not null and not context.customer.guest ? 1 : 0 }};

                        window.wishlistEnabled = {{ config('core.cart.wishlistEnabled') }};
                    </script>
                {% endblock %}
            {% endif %}

            {# @deprecated tag:v6.5.0 - Will be moved to `layout/meta.html.twig` - Use block `layout_head_javascript_hmr_mode` instead #}
            {% block base_script_hmr_mode %}
                {% if isHMRMode %}
                    <script type="text/javascript" src="/_webpack_hot_proxy_/js/vendor-node.js"></script>
                    <script type="text/javascript" src="/_webpack_hot_proxy_/js/vendor-shared.js"></script>
                    <script type="text/javascript" src="/_webpack_hot_proxy_/js/runtime.js"></script>
                    <script type="text/javascript" src="/_webpack_hot_proxy_/js/app.js"></script>
                    {# The storefront entry is a combined entry point which contains all plugins & themes #}
                    <script type="text/javascript" src="/_webpack_hot_proxy_/js/storefront.js"></script>
                {% else %}
                    {% for file in theme_config('assets.js') %}
                        <script type="text/javascript" src="{{ asset(file, 'theme') }}"></script>
                    {% endfor %}
                {% endif %}
            {% endblock %}
        {% endif %}
    {% endblock %}

        
    <div class="page-bg-wrap">
        {% if page.bgImage %}
        <img src="{{ page.bgImage }}" alt="{{ pageTitle }}" />
        {% endif %}
    </div>
    

    </body>
{% endblock %}
</html>
